<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h2>Adding Succeeded!</h2>
		<span>Name:</span><span th:text="${country_new.name}"></span><br/>
		<span>Capital:</span><span th:text="${country_new.capital}"></span><br/>
		<span>CountryCode:</span><span th:text="${country_new.countryCode}"></span><br/>
		<span>Population:</span><span th:text="${country_new.population}"></span><br/>
		<a href="/countryApp/list_countries">Back</a>
	</div>
</body>
</html>