<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
                                     <!-- get "country" from controller, override it and send it again 
													to @/save-->
<body>                                      <!--form submitted here convert to "country" object  -->
	<form action="#" th:action="@{/save}" th:object="${country}" method="post"> 
	ID:<input type="text" th:field="*{id}" readonly="readonly"/><br>
	Name:<input type="text" th:field="*{name}" readonly="readonly"/><br>
	Capital:<input type="text" th:field="*{capital}" readonly="readonly"/><br>
	Country Code:<input type="text" th:field="*{countryCode}" readonly="readonly"/><br>
	Population:<input type="text" th:field="*{population}" readonly="readonly"/><br>
	</form>
	<br>
	<a href="/countryApp/list_countries">Back</a>
</body>
</html>